#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if dovecot_tcpwrapper.login_access_sockets is defined and
      dovecot_tcpwrapper.login_access_sockets | string | length > 0 %}
login_access_sockets          = {{ dovecot_tcpwrapper.login_access_sockets }}
{% endif %}
{% if dovecot_tcpwrapper.services is defined and
      dovecot_tcpwrapper.services | count > 0 %}
  {% for service in dovecot_tcpwrapper.services %}
    {% for key, values in service.items() %}

service {{ key }} {
      {% for k, v in values.items() %}
        {% if k == "listeners" and
              v | bodsch.core.type == "list" %}
          {% for x in v %}
            {% set _key = x.keys() | first %}
            {% set _values = x.values() | first %}
            {% if _values.type is defined %}
              {% set _type = _values.type %}
              {% set _ = _values.pop('type') %}
            {% else %}
              {% set _type = "inet" %}
            {% endif %}
  {{ _type }}_listener {{ _key }} {
              {% for kk,vv in _values.items() %}
                {% if vv | string | length > 0 and
                      vv | config_value %}
    {{ "%-25s" | format(kk) }} = {{ vv | config_value }}
                {% endif %}
              {% endfor %}
  }
          {% endfor %}
        {% else %}
          {% if v | string | length > 0 and
                v | config_value %}
  {{ "%-27s" | format(k) }} = {{ v | config_value }}
          {% endif %}
        {% endif %}
      {% endfor %}
}
    {% endfor %}
  {% endfor %}
{% endif %}
