#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if dovecot_lda.postmaster_address is defined and
      dovecot_lda.postmaster_address | string | length > 0 %}
postmaster_address            = {{ dovecot_lda.postmaster_address }}
{% endif %}
{% if dovecot_lda.hostname is defined and
      dovecot_lda.hostname | string | length > 0 %}
hostname                      = {{ dovecot_lda.hostname }}
{% endif %}
{% if dovecot_lda.quota_full_tempfail is defined and
      dovecot_lda.quota_full_tempfail | string | length > 0 %}
quota_full_tempfail           = {{ dovecot_lda.quota_full_tempfail | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if dovecot_lda.sendmail_path is defined and
      dovecot_lda.sendmail_path | string | length > 0 %}
sendmail_path                 = {{ dovecot_lda.sendmail_path }}
{% endif%}
{% if dovecot_lda.submission_host is defined and
      dovecot_lda.submission_host | string | length > 0 %}
submission_host               = {{ dovecot_lda.submission_host }}
{% endif%}
{% if dovecot_lda.rejection_subject is defined and
      dovecot_lda.rejection_subject | string | length > 0 %}
rejection_subject             = {{ dovecot_lda.rejection_subject }}
{% endif%}
{% if dovecot_lda.rejection_reason is defined and
      dovecot_lda.rejection_reason | string | length > 0 %}
rejection_reason              = {{ dovecot_lda.rejection_reason }}
{% endif%}
{% if dovecot_lda.recipient_delimiter is defined and
      dovecot_lda.recipient_delimiter | string | length > 0 %}
recipient_delimiter           = {{ dovecot_lda.recipient_delimiter }}
{% endif%}
{% if dovecot_lda.original_recipient_header is defined and
      dovecot_lda.original_recipient_header | string | length > 0 %}
lda_original_recipient_header = {{ dovecot_lda.original_recipient_header }}
{% endif%}
{% if dovecot_lda.mailbox_autocreate is defined and
      dovecot_lda.mailbox_autocreate | string | length > 0 %}
lda_mailbox_autocreate        = {{ dovecot_lda.mailbox_autocreate | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif%}
{% if dovecot_lda.mailbox_autosubscribe is defined and
      dovecot_lda.mailbox_autosubscribe | string | length > 0 %}
lda_mailbox_autosubscribe     = {{ dovecot_lda.mailbox_autosubscribe | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif%}
{% if dovecot_lda.protocols is defined and
      dovecot_lda.protocols | count > 0 %}
  {% for pr in dovecot_lda.protocols %}
    {% if pr.name is defined %}
      {% set _name = pr. name %}
      {% set _ = pr.pop('name') %}
    {% else %}
      {% set _name = pr.keys() | first %}
    {% endif %}
protocol {{ _name }} {
    {% for k,v in pr[_name].items() %}
  {{ k }} = {{ v | join(' ') }}
    {% endfor %}
}
  {% endfor %}

{% endif %}
