#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if dovecot_mailboxes.namespaces is defined and
      dovecot_mailboxes.namespaces | count > 0 %}
  {% set _inbox_attr = ['disabled','hidden','ignore_on_failure','inbox','list','location','order','prefix','separator','subscriptions','type'] %}
  {% set _mailbox_attr = ['auto','autoexpunge','autoexpunge_max_mails','comment','driver','special_use'] %}

  {% for ns in dovecot_mailboxes.namespaces %}
    {% for namespace, boxes in ns.items() %}
namespace {{ namespace }} {
      {% for mailbox, values in boxes.items() %}
        {% if values | bodsch.core.type != "dict" %}
          {% if values | bodsch.core.type == "bool" %}
  {{ mailbox }} = {{ values  | bodsch.core.config_bool(true_as='yes', false_as='no') }}
          {% endif %}
          {% if (values | bodsch.core.type == "str" or values | bodsch.core.type == "int") and
                mailbox in _inbox_attr and
                values | string | length > 0 %}
  {{ mailbox }} = {{ values }}
          {% endif %}
        {% else %}
  mailbox "{{ mailbox }}" {
          {% for k, v in values.items() %}
            {% if k in _mailbox_attr and
                  v | string | length > 0 %}
              {% if v | bodsch.core.type == "bool" %}
    {{ k }} = {{ v  | bodsch.core.config_bool(true_as='yes', false_as='no') }}
              {% else %}
    {{ k }} = {{ v }}
              {% endif %}
            {% endif %}
          {% endfor %}
  }
        {% endif %}
      {% endfor %}
}
    {%endfor %}
  {% endfor %}
{% endif %}
