#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if dovecot_pop3.no_flag_updates is defined and
      dovecot_pop3.no_flag_updates | string | length > 0 %}
pop3_no_flag_updates         = {{ dovecot_pop3.no_flag_updates | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if dovecot_pop3.enable_last is defined and
      dovecot_pop3.enable_last | string | length > 0 %}
pop3_enable_last             = {{ dovecot_pop3.enable_last | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if dovecot_pop3.reuse_xuidl is defined and
      dovecot_pop3.reuse_xuidl | string | length > 0 %}
pop3_reuse_xuidl             = {{ dovecot_pop3.reuse_xuidl | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if dovecot_pop3.lock_session is defined and
      dovecot_pop3.lock_session | string | length > 0 %}
pop3_lock_session            = {{ dovecot_pop3.lock_session | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if dovecot_pop3.fast_size_lookups is defined and
      dovecot_pop3.fast_size_lookups | string | length > 0 %}
pop3_fast_size_lookups       = {{ dovecot_pop3.fast_size_lookups | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if dovecot_pop3.uidl_format is defined and
      dovecot_pop3.uidl_format | string | length > 0 %}
pop3_uidl_format             = {{ dovecot_pop3.uidl_format }}
{% endif %}
{% if dovecot_pop3.save_uidl is defined and
      dovecot_pop3.save_uidl | string | length > 0 %}
pop3_save_uidl               = {{ dovecot_pop3.save_uidl | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if dovecot_pop3.uidl_duplicates is defined and
      dovecot_pop3.uidl_duplicates | string | length > 0 and
      dovecot_pop3.uidl_duplicates in ['allow','rename'] %}
pop3_uidl_duplicates         = {{ dovecot_pop3.uidl_duplicates }}
{% endif %}
{% if dovecot_pop3.deleted_flag is defined and
      dovecot_pop3.deleted_flag | string | length > 0 %}
pop3_deleted_flag            = {{ dovecot_pop3.deleted_flag }}
{% endif %}
{% if dovecot_pop3.logout_format is defined and
      dovecot_pop3.logout_format | string | length > 0 %}
pop3_logout_format           = {{ dovecot_pop3.logout_format }}
{% endif %}
{% if dovecot_pop3.client_workarounds is defined and
      dovecot_pop3.client_workarounds | count > 0 %}
  {% set _attr = ['outlook-no-nuls','oe-ns-eoh'] %}
pop3_client_workarounds      = {{ dovecot_pop3.client_workarounds | bodsch.core.compare_list(compare_to_list=_attr) | join(' ') }}
{% endif %}
{% if dovecot_pop3.protocols is defined and
      dovecot_pop3.protocols | count > 0 %}
  {% for pr in dovecot_pop3.protocols %}
    {% if pr.name is defined %}
      {% set _name = pr. name %}
      {% set _ = pr.pop('name') %}
    {% else %}
      {% set _name = pr.keys() | first %}
    {% endif %}
protocol {{ _name }} {
    {% if pr | bodsch.core.type == "dict" %}
      {% for k, v in pr[_name].items() %}
        {% if v | bodsch.core.type == "list" %}
          {% if v | count != 0 %}
  {{ k }} = {{ v | join(' ') }}
          {% endif %}
        {% else %}
  {{ k }} = {{ v }}
        {% endif %}
      {% endfor %}
    {% endif %}
}
  {% endfor %}
{% endif %}
