#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if dovecot_submission.hostname is defined and
      dovecot_submission.hostname | string | length > 0 %}
hostname                      = {{ dovecot_submission.hostname }}
{% endif %}
{% if dovecot_submission.logout_format is defined and
      dovecot_submission.logout_format | string | length > 0 %}
submission_logout_format      = {{ dovecot_submission.logout_format }}
{% endif %}
{% if dovecot_submission.max_mail_size is defined and
      dovecot_submission.max_mail_size | string | length > 0 %}
submission_max_mail_size      = {{ dovecot_submission.max_mail_size }}
{% endif %}
{% if dovecot_submission.max_recipients is defined and
      dovecot_submission.max_recipients | string | length > 0 %}
submission_max_recipients     = {{ dovecot_submission.max_recipients }}
{% endif %}
{% if dovecot_submission.client_workarounds is defined and
      dovecot_submission.client_workarounds | count > 0 %}
  {% set _attr = ['whitespace-before-path','mailbox-for-path'] %}
submission_client_workarounds = {{ dovecot_submission.client_workarounds | bodsch.core.compare_list(compare_to_list=_attr) | join(' ') }}
{% endif %}
{% if dovecot_submission.relay_host is defined and
      dovecot_submission.relay_host | string | length > 0 %}
submission_relay_host         = {{ dovecot_submission.relay_host }}
{% endif %}
{% if dovecot_submission.relay_port is defined and
      dovecot_submission.relay_port | string | length > 0 %}
submission_relay_port         = {{ dovecot_submission.relay_port }}
{% endif %}
{% if dovecot_submission.relay_trusted is defined and
      dovecot_submission.relay_trusted | string | length > 0 %}
submission_relay_trusted      = {{ dovecot_submission.relay_trusted | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if dovecot_submission.relay_user is defined and
      dovecot_submission.relay_user | string | length > 0 %}
submission_relay_user         = {{ dovecot_submission.relay_user }}
{% endif %}
{% if dovecot_submission.relay_master_user is defined and
      dovecot_submission.relay_master_user | string | length > 0 %}
submission_relay_master_user  = {{ dovecot_submission.relay_master_user }}
{% endif %}
{% if dovecot_submission.relay_password is defined and
      dovecot_submission.relay_password | string | length > 0 %}
submission_relay_password     = {{ dovecot_submission.relay_password }}
{% endif %}
{% if dovecot_submission.relay_ssl is defined and
      dovecot_submission.relay_ssl | string | length > 0 %}
  {% set _attr = ['smtps','starttls'] %}
  {% if dovecot_submission.relay_ssl | bodsch.core.type == "bool" %}
submission_relay_ssl          = {{ dovecot_submission.relay_ssl | bodsch.core.config_bool(true_as='yes', false_as='no') }}
  {% elif dovecot_submission.relay_ssl in _attr %}
submission_relay_ssl          = {{ dovecot_submission.relay_ssl }}
  {% endif %}
{% endif %}
{% if dovecot_submission.relay_ssl_verify is defined and
      dovecot_submission.relay_ssl_verify | string | length > 0 %}
submission_relay_ssl_verify   = {{ dovecot_submission.relay_ssl_verify | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if dovecot_submission.relay_rawlog_dir is defined and
      dovecot_submission.relay_rawlog_dir | string | length > 0 %}
submission_relay_rawlog_dir   = {{ dovecot_submission.relay_rawlog_dir }}
{% endif %}
{% if dovecot_submission.protocols is defined and
      dovecot_submission.protocols | count > 0 %}
  {% for pr in dovecot_submission.protocols %}
    {% if pr.name is defined %}
      {% set _name = pr. name %}
      {% set _ = pr.pop('name') %}
    {% else %}
      {% set _name = pr.keys() | first %}
    {% endif %}
protocol {{ _name }} {
    {% if pr | bodsch.core.type == "dict" %}
      {% for k, v in pr[_name].items() %}
        {% if v | bodsch.core.type == "list" %}
          {% if v | count != 0 %}
  {{ k }} = {{ v | join(' ') }}
          {% endif %}
        {% else %}
  {{ k }} = {{ v }}
        {% endif %}
      {% endfor %}
    {% endif %}
}
  {% endfor %}
{% endif %}
