#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if dovecot_plugin.plugins is defined and
      dovecot_plugin.plugins | count > 0 %}
  {% if dovecot_plugin.plugins | bodsch.core.type == "list" %}
plugin {
    {% for plugin in dovecot_plugin.plugins %}
  {{ plugin.keys() | first }} = {{ plugin.values() | first }}
    {% endfor %}
}
  {% endif %}
{% endif %}
