#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if dovecot_authentications.sql is defined and
      dovecot_authentications.sql | count > 0 %}
  {% for _type, values in dovecot_authentications.sql.items() %}
    {% if values | count > 0 %}
{{ _type }} {
      {% for k, v in values.items() %}
        {% if v | bodsch.core.type == "bool" %}
  {{ "%-27s" | format(k) }} = {{ v | bodsch.core.config_bool(true_as='yes', false_as='no') }}
        {% else %}
  {{ "%-27s" | format(k) }} = {{ v }}
        {% endif %}
      {% endfor %}
}
    {% endif %}
  {% endfor %}
{% endif %}
