#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

[Unit]
Description             = create docker compose config file for mailcow.
PartOf                  = docker.service
After                   = docker.service
Before                  = mailcow-pull.service mailcow.service

[Service]
Type                    = oneshot
EnvironmentFile         = {{ mailcow_defaults_directory }}/mailcow

RemainAfterExit         = true
WorkingDirectory        = {{ mailcow_install_path }}/active
{% if mailcow_config.compose.command == 'docker-compose' %}
ExecStart               = /usr/bin/docker-compose $OPTIONS_CONFIG
{% else %}
ExecStart               = /usr/bin/docker compose $OPTIONS_CONFIG
{% endif %}

PrivateTmp              = yes
UMask                   = 077
NoNewPrivileges         = yes
PrivateMounts           = yes
ProtectControlGroups    = yes
ProtectKernelTunables   = yes
ProtectHome             = true
ProtectSystem           = full
RestrictAddressFamilies = AF_UNIX AF_INET AF_INET6
RestrictNamespaces      = true
RestrictRealtime        = true
SystemCallArchitectures = native

[Install]
WantedBy                = multi-user.target
