#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if dovecot_dict_sql.connects is defined  and
      dovecot_dict_sql.connects | count > 0 %}
connect                       = {{ dovecot_dict_sql.connects | bodsch.email.database_connection }}
{% endif %}

{% if dovecot_dict_sql.maps is defined and
      dovecot_dict_sql.maps | count > 0 %}
  {% for m in dovecot_dict_sql.maps %}
map {
    {% for k, v in m.items() %}
      {% if v | bodsch.core.type != "dict" %}
  {{ "%-27s" | format(k) }} = {{ v }}
      {% else %}

  {{ k }} {
    {% for kk, vv in v.items() %}
    {{ "%-25s" | format(kk) }} = {{ vv }}
    {% endfor %}
  }
      {% endif %}
    {% endfor %}
}
  {% endfor %}
{% endif %}
