{#
  List of macros for dovecot configurations
#}
{% set print = self %}

{% macro include_paramaters(data, include_type="include_try") %}
  {% set attr_include_type = ["include", "include_try"] %}
  {% for include in dovecot_auth.includes %}
    {% if include is defined and not include == None %}
# !include_try ../auth.d/{{ include }}
    {% endif %}
  {% endfor %}
{% endmacro %}
