#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
{% set _version = "unknown" %}
{% if _mailcow_information is defined %}
  {% set _version = _mailcow_information.version %}
{% endif %}
{% set _networks =  mailcow_compose_networks | bodsch.email.mailcow_compose_active() %}
{% set _services =  mailcow_compose_services | bodsch.email.mailcow_compose_active(_version) %}
{% set _volumes =  mailcow_compose_volumes | bodsch.email.mailcow_compose_active() %}
{% set _files = _networks + _services + _volumes %}
MAILCOW_VERSION={{ _version }}

OPTIONS_CONFIG=" \
  --env-file {{ mailcow_install_path }}/active/mailcow.conf \
  {% if _files | count > 0 %}
    {% for f in _files %}
  --file {{ mailcow_install_path }}/active/docker-compose.d/{{ f }} \
    {% endfor %}
  {% else %}
  --file {{ mailcow_install_path }}/active/docker-compose.yml \
  {% endif %}
  config \
  --output {{ mailcow_install_path }}/active/mailcow-compose.conf
"

OPTIONS_PULL=" \
  --file {{ mailcow_install_path }}/active/mailcow-compose.conf \
  pull
"

OPTIONS_UP=" \
  --file {{ mailcow_install_path }}/active/mailcow-compose.conf \
  up \
  --detach \
  --remove-orphans
"

OPTIONS_DOWN=" \
  --file {{ mailcow_install_path }}/active/mailcow-compose.conf \
  down
"
